<!DOCTYPE html>

<html>
<head>
    <title>Timestamp Microservice | freeCodeCamp.org</title>
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
          type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
    <!--<script type="module" src="common.js"></script>-->
</head>

<body>
<h1>Timestamp Microservice based on ISO_8601</h1>
<hr/>
<div class="container">
    <h3>Example Usage:</h3>
    <ul>
        <li><a href="api/20151225">[project url]/api/20151225</a></li>
        <li><a href="api/2015-1225">[project url]/api/2015-1225</a></li>
        <li><a href="api/2015-12-25">[project url]/api/2015-12-25</a></li>
    </ul>
    <br>
    <ul>
        <li><a href="api/20151225T20:21:22">[project url]/api/20151225T20:21:22</a></li>
        <li><a href="api/2015-1225T20:21:22">[project url]/api/2015-1225T20:21:22</a></li>
        <li><a href="api/2015-12-25T20:21:22">[project url]/api/2015-12-25T20:21:22</a></li>
    </ul>
    <br>
    <ul>
        <li><a href="api/1451001600000">[project url]/api/1451001600000</a></li>
    </ul>

    <h3>Example Output:</h3>
    <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
    </p>
</div>
<div class="footer">
    <p>
        An exercise of Back End Development and APIs Certification at <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
    </p>
</div>
</body>


<script type="module">
    import {getDatePart, getTimePart} from "./common.mjs";
    // self executing function here
    (function () {
        console.log("ejecutando");

        // your page initialization code here
        // the DOM will be available here
        document.getElementById("btnGetInfo").onclick = function () {
            const dateTime = new Date(document.getElementById("datetime").value);
            const dateComp = getDatePart(dateTime);
            const hourComp = getTimePart(dateTime);

            location.href = location.href + 'api/' + dateComp + "T" + hourComp;
        }
    })();

</script>

</html>
